$White: hsl(0, 0%, 100%);
$Dark-desaturated-blue: hsl(236, 21%, 26%);
$Dark-blue: hsl(235, 15%, 14%);
$Very-dark-blue: hsl(235, 18%, 12%);
$Grayish-blue: hsl(237, 18%, 59%);
$Soft-red: hsl(345, 95%, 68%);
$Black: hsl(235, 16%, 14%);
